<div class="contenedor">
    <div class="cont1">
    <h1><span>Titulo:</span> {{pelicula?.Title}}</h1>
        <img [src]="pelicula?.Poster" [alt]="pelicula?.Title">
    </div>
    <div class="cont2">
        <p><span>Año:</span> {{pelicula?.Year}}</p>
        <p><span>Pais:</span> {{pelicula?.Country}}</p>
        <p><span>Fecha Estreno:</span> {{pelicula?.DVD}}</p>
        <p><span>Genero:</span> {{pelicula?.Genre}}</p>
        <p><span>Tipo:</span> {{pelicula?.Type}}</p>
        <p><span>Total de Votos:</span> {{pelicula?.imdbVotes}}</p>
    </div>
    <!-- <button (click)="regresar()">boton</button> -->

</div>

